body {
    margin: 0;
    padding: 20px 40px;
    
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    
    background: #222;
    color: #fefefe;
}

h1 {
    font-weight: 300;
}

.top-container, .current-date {
    text-align: center;
}

.menu {
    margin-bottom: 80px;
}

.menu-name {
    display: inline-block;
    font-weight: 300;
}

.meal-name {
    font-size: 13pt;
    
    text-transform: uppercase;
    color: #bbb;
}

.meal-prices {
    margin-left: 15px;
    font-size: 70%;
    font-weight: normal;
    
    color: #888;
}

.meal-diets {
    display: inline-block;
    
    margin-left: 15px;
    
    font-size: 75%;
    color: #888;
}

ul {
    list-style-type: none;
}

.nav-button {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #fefefe;
    border-radius: 3px;
    
    font-size: 11pt;
    
    background: transparent;
    color: #fefefe;
    
    transition: background ease-in-out 0.1s;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
